.color {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 120px;
  height: 147px;
}

.color label {
  display: block;
  height: 100%;
}

.picker {
  left: 50%;
  width: 0;
  top: 20%;
  position: absolute;
  opacity: 0;
}

.trash {
  margin: 0;
  padding: 4px;
  font-size: 14px;
  width: 100%;
}
