@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

:root {
  --palette-divider: 2px dotted gray;
}

body {
  margin: 0;

  background: #111;
  color: #ccc;

  font-family: 'Inconsolata', monospace;
}

header {
  display: flex;
}

h1 {
  margin: .2em;

  font-size: 24px;
}

h2 {
  font-size: 20px;
}

button {
  display: inline-block;

  margin-right: 1em;
  padding: .2em .5em;
  border: 1px solid #222;

  color: #fed;
  background-color: #000;

  font-size: 1.2rem;
}

button:hover,
button:focus {
  background-color: #222;
  border-color:  #666;
}

.palettes {
  display: flex;
  flex-direction: column;
  background-color: #000;
}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
