.color {
  display: block;
  position: relative;
  border: 4px solid black;
  width: 100px;
  height: 100px;
  padding: 1rem;
}

.hidden {
  left: 48%;
  width: 0;
  top: 20%;
  position: absolute;
  opacity: 0;
}
