@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

body {
  background: #1d1d1d;
  color: #d2d2d2;
  font-family: 'Inconsolata', monospace;
}

.palette {
  display: flex;
  border: 2px dotted gray;
}
